*{
    margin: 0;
    padding: 0;
     box-sizing: border-box; 
}

:root{
    --primary-color: #fff;
    --bg-gray-hover:#282828;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --border-radius: 0.3rem;
    --text-primary-color: #0f0f0f;
}

body{
    background-color: var(--primary-color);
    line-height: 1.5em;
}
.body{
display: flex;
}

/* aside starts here */

aside{
    background-color:var(--primary-color);
    /* padding: 1rem; */
    width: 5%;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
}

aside .row{
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0.5rem;
    background-color: var(--primary-color);

}
aside .row .home{
    padding: 1rem 1rem 1rem 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
aside .row .home aside p{
    width: 18px;
}

/* aside .row .container svg{
    height: 24px;
    width: 24px;
} */
.home i{
    font-size: 25px;
}

.home p{
    font-size: 10px;
    font-family: var(--font-primary);
}

/* aside ends here */

main{
    background-color: var(--primary-color);
    width: 95%;
    display: 1;
    box-sizing: border-box;
    margin-left: 5%;
}


/* header starts here */
header{
    background-color: var(--primary-color);
    /* padding: 1rem; */
    position: fixed;
    width: 95%;
    top: 0;
}

.main .row{
    height: 56px;
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main .row .column{
    display: flex;
    width: 25.3333333%;
    justify-content: start;
}

.main .row .column2{
    display: flex;
    width: 50.3333333%;
    justify-content: center;
    align-items: center;
}

.main .row .column2 input{
    border-radius: 40px 0 0 40px;
    padding: 13px 4px 12px 16px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: var(--font-primary);
    max-width: 500px;
    width: 100%;
}
.main .row .column2 .btn{
    border-radius: 0 40px 40px 0;
    padding: 8px 15px 9px 15px;
    border: 1px solid #ccc;
    border-left: 0px;
    background-color: transparent;

}

.main .row .column2 .btn i{
    font-size: 25px;
}

.main .row .column2  .btnn{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border: none;
    transition: 0.3s;
}

.main .row .column2  .btnn:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.main .row .column2  .btnn i{
    font-size: 20px;
}

.main .row .column3 {
     width: 25.3333333%;
     display: flex;
     align-items: center;
     justify-content: end;
}

.main .row .column3 i{
    font-size: 25px;
    margin: 0px 10px;
}

.main .row .column3 img{
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

/* header ends here */


main .container{
    background-color: var(--primary-color);
    padding: 2rem;
    margin-top: 5%;
} 

main .container{
    display: flex;
    flex-wrap: wrap;
}

main .container .card{
    width: 33.33%;
    padding: 1rem;
}


main .container h5{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;
    margin-bottom: 8px;
}

main .container p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
}

main .container img{
    width: 100%;
    border-radius: 3%;
}


